.buyContainer{
  display: flex;
  height: 90%;
}
.leftSide{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 30%;
  min-width: 200px;
  color: white;
  border-right: 2px solid rgb(216, 178, 72);
}

.rightSide{
  width: 70%;
  height: 90%;
  min-width: 230px;
}

#button-buy {
  letter-spacing: 2px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  background: #0f3959;
  border: none;
  color: white;
  width: 180px;
  height: 50px;
  font-size: medium;
  transition: .1s ease-in;
}

#button-buy:hover{
  background-color: rgb(216, 178, 72);
  cursor: pointer;
  transition: unset;
}

.books {
  margin-left: 30px;
  margin-top: 30px;
  height: 78vh;
  width: 65vw;
  background-color: white;
  border-radius: 5px;
}


.booklist {
  display: grid;
  background-color: #a1bacc;
  height: 100%;
  overflow: auto;
  padding-bottom: 5px;
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .booklist {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 768px) {
  #button-buy{
    width: 100px;
  }
}

.book {
  background: #FFFECE;
  border-radius: 1rem;
  padding: 1rem 2rem;
  width: 230px;
  max-width: 300px;
  max-height: 300px;
  margin: 15px;
}

.book:hover {
  opacity: 70%;
  cursor: pointer;
}

.book h1 {
  margin-top: 0.5rem;
}

.book h4 {
  color: #617d98;
  font-size: 0.75rem;
  margin-top: 0.25rem;
}

.book p {
  margin-top: 0.5rem;
}

.book img {
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  margin: auto;
  width: 3cm;
  height: 4cm;
}


.search-box-buy{
  display: flex;
  background: white;
  height: 20px;
  width: 70%;
  border-radius: 25px;
  padding: 10px;
}

.search-txt-buy{
  border: none;
  outline: none;
  width: 90%;
}

.search-btn-buy{
  color: #0f3959;
  float: right;
  margin-right: 5px;
}
.categories{
  display: flex;
  flex-direction: column;
  width: 70%;
}

.categories h1{
  text-align: center;
  color: rgb(216, 178, 72);
  font-size: 24px;
}

.categories h3{
  margin: 5px 0;
}

.authors, .categories_2{
  width: 100%;
  max-width: 230px;
}
