
.main-signup{
  position: absolute;
  width: 40vw;
  min-width: 300px;
  height: 70vh;
  background: white;
  margin: 0;
  padding: 0;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.signup-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:  0 2rem;
}

.signup-box h1{
  text-align: center;
  color: rgb(216, 178, 72);
  font-size: 24px;
}

.signup-box input{
  border: none;
  width: 200px;
  height: 20px;
  border-bottom: 1px solid #333;
}

.signup-text{
  position: relative;
  display: flex;
  justify-content: center;
}
.signup-text label{
  position: absolute;
}

.inputBox{
  width: 100%;
}

.inputBox label{
  position: absolute;
  z-index: 2;
  transform: translateY(-100%);
  pointer-events: none;
  transition: 0.5s;
}
.inputBox input{
  padding-top: 2rem;
}

.signup-box input[type='submit']{
  width: 200px;
  height: 49px;
  border: none;
  margin-top: 25px;
  background: #0f3959;
  font-family: 'Poppins', sans-serif;
  color: white;
  outline: none;
  cursor: pointer;
  letter-spacing: 1px;
  font-weight: 700;
}

.signup-box input[type='submit']:hover{
  background: rgb(216, 178, 72);
}

.inputBox input:focus ~ div label,
.inputBox input:valid ~ div label
{
  transform: translateY(-50px);
  font-size: 12px;
  letter-spacing: 1px;
  color: rgb(216, 178, 72);
  font-weight: 700;
}